---
layout: home
---
<div class="jumbo text-center">
    <div class="centered">
        <h1 class="blog-header">Blog Archive</h1>
    </div>
    <a href="/" class="home-button">Home Page</a>
</div>

<div class="container text-center">
    {% for category in site.categories %}
    <li class="blogNavCategory">
        <a id="{{ category | first | strip_html }}" onclick="filter(this.id)">{{ category | first | strip_html }} </a>
    </li>
    {% endfor %}
    <li>
        <a id="All" onclick="filter(this.id)">All</a>
    </li>
</div>

<div id="postList" class="container text-center">
    {% for post in site.posts %}
    <div class="blog-feature text-center" data-category="{{post.category}}">
        <div class="centered">
            <h4>{{post.title}}</h4>
            <p class="blog-date">{{ post.date | date: '%B %d, %Y' }}</p>
            <p>{{ post.meta }}</p>
        </div>
        <a class="bloglink" href="{{ site.baseurl }}{{ post.url }}">Read more</a>
    </div>
    {% endfor %}
</div>

<script src="{{ site.baseurl }}/assets/js/PostFilter.js"></script>