---
layout: home
---
<div class="nav">
    <a class="navlink" href="{{site.siteurl}}/">Home</a>
    <a class="navlink" href="{{site.siteurl}}/about">Bio</a>
    <a class="navlink" href="#">Gallery</a>
</div>
<div class="brand-header">
    <div class="brand center-vh">
        <img src="{{site.siteurl}}/assets/images/stethoscope.svg" alt="Brand Icon">
        <h1>Blog Archive</h1>
        
        <ul>
            {% for category in site.categories %}
            <li class="blogNavCategory blog-cat">
                <a class="category" id="{{ category | first | strip_html }}" onclick="filter(this.id)">{{ category | first | strip_html }} </a>
            </li>
            {% endfor %}
            <li class="blog-cat">
                <a class="category" id="All" onclick="filter(this.id)">All</a>
            </li>
        </ul>

    </div>
</div>

<div id="postList">
    {% for post in site.posts %}
    <div class="blog-container">
        <a href="{{ site.siteurl }}{{ post.url }}" data-category="{{post.category}}">
            <div class="blog-listing">
                <div class="blog-listing-image">
                    <img src="{{site.siteurl}}{{post.image}}" alt="">
                </div>
                <div class="blog-listing-text">
                    <p class="category">{{post.category}}</p>
                    <h4 class="blog-listing-title">{{post.title}}</h4>
                    <p class="italic">{{ post.date | date: '%B %d, %Y' }}</p>
                    <p>{{ post.meta }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>


<script src="{{ site.siteurl }}/assets/js/PostFilter.js"></script>