---
---

/*
===================================
VARIABLES
===================================
*/

$cream: #FAE3D9;
$petal: #FFB6B9;
$burgundy: #4BBCF4;
$fresh: #61C0BF;
$charcoal: #36384c; 

$font-header: 'Lora', serif;
$font-body: 'Raleway', sans-serif; 

/*
===================================
GENERAL
===================================
*/

* {
    box-sizing: border-box;
    font-family: $font-body;
    font-size: 14px;
    color: $charcoal;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
    color: $charcoal;
}

h1 {
    font-size: 400%;
    padding: 20px;
}

h2 {
    font-size: 250%;
    padding: 10px 0 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: $charcoal;
    content: "";
    width: 100px;
    margin: 10px auto 0;
}

h3 {
    font-size: 200%;
}

h4 {
    font-size: 175%;
    padding-bottom: 20px;
    color: $burgundy;
}

h5 {
    font-size: 150%;
}

h6 {
    font-size: 125%;
}

p {
    line-height: 1.75;
    margin: 15px 0;
}

a {
    border-bottom: 2px solid $petal;
    text-decoration: none;
}

a:hover {
    background-color: $petal;
    color: #fff;
}

li {
    list-style-type: none;
    padding: 5px 0;
    margin: 0 5px;
    display: inline;
}

/*
===================================
REUSABLE COMPONENTS
===================================
*/

.jumbo h1 {
    color: #fff;
    border: 2px solid $cream;
}

a.bloglink {
    background-color: $cream;
    border-radius: 2px;
    border-bottom: none;
    padding: 10px;
}

a.bloglink:hover {
    background-color: $petal;
}

a.home-button {
    border: 2px solid $cream;
    color: #fff;
    border-radius: 2px;
    padding: 10px;
    position: absolute;
    bottom: 50px;
    transform: translateX(-50%);
}

a.home-button:hover {
    background-color: $cream;
    color: $petal;
}

.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

/* All sections of content should be wrapped in this */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 20px;
}

/* Put this on a div to center it within another div.
   Put position:relative on container div. */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

/* Background color utilities*/
.bg-petal {
    background-color: $petal;
}
.bg-cream {
    background-color: $cream;
}
.bg-fresh {
    background-color: $fresh;
}
.bg-burgundy {
    background-color: $burgundy;
}
.bg-charcoal {
    background-color: $charcoal;
}

/*
===================================
HEADERS
===================================
*/

.jumbo {
    background-color: $petal;
    height: 400px;
    position: relative;
}

/*
===================================
BIO SECTION
===================================
*/

.bio-image {
    width: 50%;
    display: inline-block;

    img {
        width: 100%;
        height: auto;
    }
}

.bio-text {
    width: 50%;
    height: 100%;
    vertical-align: top;
    padding: 0 30px;
    display: inline-block;
}

@media screen and (max-width: 850px) {
    .bio-text, .bio-image {
        width: 100%;
        padding: 0;
    }
}

/*
===================================
BLOG SECTION
===================================
*/

.blog-container {
    margin: 60px 0;
}

.blog-feature {
    display: inline-block;
    width: 45%;
    margin: 10px 2.5% 30px;
    padding: 10px;
    height: 150px;
    position: relative;
    border: 2px solid $cream;

    .bloglink {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .centered {
        width: 100% !important;
        h4 {
            padding: 10px;
        }
    }
}

@media screen and (max-width: 700px) {
    .blog-feature {
        width:80% !important;
        margin: 0 10% 50px !important;
    }
}

.blog-header {
    padding: 20px 50px;
}

#postList {
    padding-top: 0;
    .blog-feature {
        display: block;
        width: 70%;
        margin: 40px auto;
    }
    p {
        margin: 5px;
    }
    h4 {
        padding-bottom: 0;
    }
} 

@media screen and (max-width: 600px) {
    #postList {
        .blog-feature {
            width: 90% !important;
            margin: 40px auto !important;
        }
    }
}

.blog-date {
    font-style: italic;
}

.post {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 900px;

    .post-nav-links {
        margin-right: 20px;
    }

    h2 {
        padding-bottom: 10px;
    }

    img {
        width: 90%;
        height: auto;
    }
}

.post.post-nav {
    padding-bottom: 0px;
}

/*
===================================
COLOUR SWATCHES
===================================
*/

.color-swatch {
    height: 100px;
    width: 20%;
    display: inline-block;
}

.colors {
    font-size: 0;
    margin: 10px 0;
}

/*
===================================
PHOTO GALLERY
===================================
*/

.gallery {
    width: 25%;
    height: 250px;
    display: inline-block;
    overflow: hidden;
    
    img {
        width: 100%;
        object-fit:cover;
        transform:scale(1.3);
        filter: grayscale(100%);
        transition: all 1s ease;
    }

    img:hover {
        filter: grayscale(0);
    }
}

@media screen and (max-width: 949px) {
    .gallery {
        width: 33%;
    }
    .last2 {
        display: none;
    }
}

@media screen and (max-width: 745px) {
    .gallery {
        width: 50%;
        height: 250px;
    }
}

@media screen and (max-width: 550px) {
    .gallery {
        width: 100%;
        height: auto;
    }

    .last4 {
        display: none;
    }
}