---
---

/*
======================================
VARIABLES
======================================
*/

$shade1: #91b3bc;
$shade2: #5b7d87;
$shade3: #45415e;
$shade4: #2b4251;
$shade5: #2e323c;
$accent: #00bfff;

$header: 'Montserrat', sans-serif;
$body: 'Lora', serif;

/*
======================================
BASE COMPONENTS
======================================
*/

* {
    box-sizing: border-box;
    font-family: $body;
    color: $shade2;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header;
    color: $shade3;
}

p {
    line-height: 1.75;
    margin: 10px 0;
}

a {
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover {
    color: $accent;
}

h1 {
    font-size: 300%;
}
h2 {
    font-size: 200%;
    text-transform: uppercase;
    margin-bottom: 10px;
}
h3 {
    font-size: 200%;
    margin-bottom: 40px;
}
h3::after {
    content: "";
    position: absolute;
    height: 1px;
    display: block;
    width: 50px;
    background-color: $shade3;
    margin: 20px auto;
    left: 50%;
    transform: translateX(-25px);
}
h4 {
    font-size: 150%;
    text-transform: uppercase;
}
h5 {
    font-size: 150%;
}
h6 {
    font-size: 125%;
}

ul {
    margin-top: 20px;
}

li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

/*
======================================
REUSABLE COMPONENTS
======================================
*/

.center-vh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.italic {
    font-style: italic;
}

.link-btn {
    display: inline-block;
    padding: 7px;
    border: 1px solid $accent;
    margin-top: 20px;
    transition: all 0.5s ease;
}
.link-btn:hover {
    background-color: $accent;
    color: #fff;
}

.center {
  
    // Set up base styles, we're going to scale instead of animating width/height
    &::before,
    &::after {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform-origin: center; // Ensure scaling is done from the center (expands outwards)
    }
  
    // scale3d(<scale-horizontal>, <scale-vertical>, <scale-depth>);
    &::before {
      border-top: 2px solid $accent;
      border-bottom: 2px solid $accent;
      transform: scale3d(0,1,1); // Shrink only width
    }
  
    &::after {
      border-left: 2px solid $accent;
      border-right: 2px solid $accent;
      transform: scale3d(1,0,1); // Shrink only height
    }
  
    &:hover::before,
    &:hover::after {
      transform: scale3d(1,1,1); // Show full-size
      transition: transform 0.5s;
    }
  }

/*
======================================
BRAND
======================================
*/

.brand-header {
    position: relative;
    height: 400px;

    .brand {
        text-align: center;

        img {
            height: 160px;
        }

        p {
            font-weight: 400;
        }
    }
}

.brand-header.small {
    height: 300px;
}

/*
======================================
NAVBAR
======================================
*/

.nav {

    display: flex;
    justify-content: center;
    border-top: 1px solid $shade1;
    border-bottom: 1px solid $shade1;
    padding: 20px 0;

    .navlink {
        display: inline-block;
        padding: 20px;
        font-family: $header;
        text-transform: uppercase;
        margin-right: 2%;
        transition: all 1s ease;
    }
    .navlink:last-child {
        margin-right: 0;
    }
    .navlink:hover
    {
        box-shadow: inset 0 0 0 2px $accent;
    }

    @media screen and (max-width: 400px) {
        .navlink {
            padding: 10px;
        }
    }
}

/*
======================================
CAROUSEL
======================================
*/

.carousel {
    height: 70vh;
    overflow: hidden;
    .carousel-item {
        overflow:hidden;
        position: relative;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
      
    button.slick-next,
    button.slick-prev {
        position: absolute;
        width: 36px;
        height: 36px;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        line-height: 36px;
        border-radius: 100%;
        z-index: 5;
        border: none;
        background-color: #fff;
    }
    button.slick-prev {
        left: 42px;
    }
    button.slick-next {
        right: 42px;
    }
    button:focus,
    button:active {
        outline: 0;
    }
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
}
.slick-track {
    height: 100%;
}

.slider {
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 5px;
}

.slick-slide img {
  width: 100%;
}

.example {
    position: relative;
    height: 400px;
    width: 800px;
    background-color: $shade1;
}

.overlay {
    text-align: center;
    background-color: #fff;
    padding: 50px 15px;
}
.overlay::before {
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    position: absolute;
    border: 1px solid $shade1;
    display: block;
    content: "";
}

.category {
    text-transform: uppercase;
    color: $accent;
    display: inline;
    margin: 0 5px;
    &:hover{
        text-decoration: underline;
    }
}

/*
======================================
ABOUT
======================================
*/

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;

    .about-photo, .about-desc {
        width: 45%;
        max-width: 450px;
        margin: 0 2.5%;
    }

    @media screen and (min-width: 751px) {
        .about-photo, .about-desc {
            max-width: 450px;
        }
    }

    @media screen and (max-width: 750px) {
        .about-photo, .about-desc {
            width: 90%;
        }
        .about-desc {
            margin-top: 50px;
        }
    }

    .about-photo {
        overflow: hidden;
        max-height: 90vh;
        img {
            width: 100%;
        }
    }

    .about-desc {
        padding: 0 20px;
        text-align: center;
        position: relative;

        
    }
}

.stacked {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
        width: 100%;
        margin: 20px 0;
    }
}

@media screen and (max-width: 750px) {
    .about2 .about-photo {
        order: 1;
    }

    .about2 .about-desc {
        order: 2;
    }
}

/*
======================================
BLOG FEATURE
======================================
*/

.blog-feature {
    text-align: center;
    margin-bottom: 60px;
    padding-top: 30px;
    align-items: flex-start;

    .blog-feature-header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .blog-thumb-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 900px;
        margin: 0 auto;
        justify-content: center;

        .blog-thumbnail {
            width: 250px;
            position: relative;
            margin: 40px;

            .blog-thumb-image {
                width: 100%;
                height: 250px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .blog-thumb-text {
                margin-top: 20px;
                h4, p {
                    transition: all 1s ease;
                }
            }
        }

        .blog-thumbnail:hover {
            .blog-thumb-text {
                h4, p {
                    color: $accent;
                }
            }
        }
    }
}

/*
======================================
CONTACT
======================================
*/

.contact {
    border-top: 1px solid $shade1;
    border-bottom: 1px solid $shade1;
    padding: 100px 0;
    margin-bottom: 80px;

    .contact-info {
        text-align: center;
        padding: 0 5%;
        max-width: 600px;
        margin: 0 auto;

        a {
            display: inline-block;
            margin: 20px 30px;

            i {
                font-size: 200%;
                transition: all 1s ease;
            }
        }

        a:hover {
            i {
                color: $accent;
            }
        }
    }
}

/*
======================================
BLOG
======================================
*/

.blog-container {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
    justify-content: center;
    align-items: center;

    a {
        display: inline-block;
        width: 100%;
    }
}

.blog-listing {
    background-color: rgba(91, 124, 134, 0.07);
    width: 100%;
    display: flex;

    .blog-listing-image {
        height: 250px;
        width: 250px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .blog-listing-text {
        text-align: center;
        padding: 30px 10px;
        height: 250px;
        flex: 1;

        .blog-listing-title {
            margin: 15px 0;
        }
    }
}

@media screen and (max-width: 550px) {
    .blog-container {
        max-width: 290px;
    }

    .blog-listing {
        flex-wrap: wrap;

        .blog-listing-text {
            width: 100%;
            height: auto;
        }
    }
}

.blog-listing:hover {
    background-color: rgba(91, 124, 134, 0.03);
}


.blog-cat {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
    .blog-cat {
        display: block;
    }
}

/*
======================================
POST
======================================
*/

.post-container {
    max-width: 750px;
    padding: 25px;
    margin: 0 auto;
    text-align: center;

    .post-header{

        margin: 40px 0;

        h1 {
            font-size: 350%;
        }
    }
    
    h3 {
        font-size: 175%;
        margin: 60px 30px;
    }

    img {
        width: 100%;
        height: auto;
    }

    a {
        border-bottom: 1px solid $accent;
    }

    table {
        margin: 0 auto;

        tr {
            margin-bottom: 3px;
        }
        tr:last-child {
            margin-bottom: 0;
        }

        td {
            padding: 0 5px;
        }

    }
}