<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Wellness Epidemic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700i|Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{site.siteurl}}/assets/js/slick/slick.css"/>  
    <link rel="stylesheet" type="text/css" href="{{site.siteurl}}/assets/css/style.css">
    <link rel="shortcut icon" href="{{site.siteurl}}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{site.siteurl}}/favicon.ico" type="image/x-icon">
</head>
<body>
{{ content }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{site.siteurl}}/assets/js/slick/slick.min.js"></script>
<script>
    $(document).ready(function(){
        $('.carousel').slick({
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 1,
        });
    });
</script>
</body>
</html>